header{
  nav{
   backdrop-filter: blur(5px);
   
 }
}

div.donate {
    animation-name: donate;
    animation-duration: 6000ms;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    > span {
      display: inline-block;
      width: 470px;
      text-align: center;
      font-size: 14px;
      padding: 12px 0;
      > a {
        color: #0066cc;
        animation-name: donate1;
        animation-duration: 6000ms;
        animation-timing-function: linear;
        animation-iteration-count: 1;
      }
    }
  }
  div.top{
width: 320px;

  right: calc(50% - 320px / 2 );
    >h2{
      max-width:320px;
      font-size: 48px;
    }
  }
  div.img{
    img{
      width: 3008px;
  position: relative;
  right: calc( 3008px / 2 - 50%);
  bottom: 0;
    }
     :nth-of-type(2)
 { 
  width: 1068px;

position: relative;
right: calc( 1068px / 2 - 50%);
top: 0;
  }
  } 




  div.post4{

    div.img{
      img{
        width: 516px;
    position: relative;
    right: calc( 516px / 2 - 50%);
    bottom: 0;
      }
    }
    div.post4-2{
    div.top{
      h3{
font-size: 18px;
      }
      div.h4{
        margin: auto;
        background-image: url(../../images/post/post6/medium/logo_light__cfvl40z2nzau_medium_2x.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 320px;
    height: 90px;
    margin-top: 20px;
      }
      div.h5{
    margin: auto;
        margin-top: 140px;
    background-image: url(../../images/post/post6/medium/logo_tms3__e8qqp5h6h56y_medium_2x.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 320px;
    height: 126px;
      }
    }
    }
    
    div.post4-4{
      div.top{
        h3{
          font-size: 19px;
        }
        div.h5{
      
      background-image: url(../../images/post/post6/medium/promo_logo_apple_watch_series_8__ee6riplsucuq_medium_2x.png);
      background-repeat: no-repeat;
      background-position: center;
      width: 320px;
      height: 90px;
        }
      }
      }
      div.post4-5{
        div.top{
          h3{
            font-size: 19px;
          }
          div.h5{
        
        background-image: url(../../images/post/post6/medium/logo_tradein__d1fpktgipvki_medium_2x.png);
        background-repeat: no-repeat;
        background-position: center;
        width: 320px;
        height: 60px;
          }
        }
        }
        div.post4-6{
          div.top{
            h3{
              font-size: 19px;
            }
            div.h5{
          
          background-image: url(../../images/post/post6/logo__dcojfwkzna2q_large_2x.png);
          background-repeat: no-repeat;
          background-position: center;
          width: 320px;
          height: 80px;
            }
            h3{
              width: 290px;
              margin: auto;
              font-size: 21px;
            }
          }
          }
    }
    div.carousel{
      div.carousel-caption{
    left: 0;
      }
    }